{% extends "AMS/base.html"%}
{%load static%}

{% block extra_css %}<link rel="stylesheet" href="{% static '/AMS/css/book_appointment_style.css' %}">{% endblock %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
  
  <!-- Doctor Details -->
  <div class="doctor-details">
    <div class="doctor-info" id="doctor-info">
        <!-- Doctor details will be populated here -->
        <img class="doctor-img" src="{{Doctor.user.image}}" alt="Doctor Picture">
        <h2>{{Doctor.user.first_name}} {{Doctor.user.last_name}}</h2>
        <p>{{Doctor.designation}}</p>
        {% comment %} <h3>Price: $${topDoctor.price}</h3> {% endcomment %}
        <label for="appointment-date">Select Appointment Date:</label>
        <input type="date" id="appointment-date" name="appointment-date">
        <button id="book-appointment-btn" class="btn" onclick="booked()">Book Appointment</button> 
    </div>
</div>

<!-- Popup Notification -->
<div class="popup" id="popup">
    <span class="close" onclick="closePopup()">&times;</span>
    <p>Successfully Booked Appointment!</p>
</div>

{%endblock%}

{% block extra_js%} <script src="AMS/js/book_appointment_script.js"></script>{%endblock%}
