{% extends "AMS/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'AMS/css/edit_profile_style.css' %}">
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>Personal Information</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<div id="notification-popup" class="notification-popup">
    <p id="notification-message"></p>
</div>
{% endblock %}


