<!-- index.html -->
{% extends 'AMS/base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static '/AMS/css/index_style.css' %}">{% endblock %}

{% block title %}Medicare{% endblock %}

{% block content %}
    <!-- Background Image Slider -->
    <div class="slider">
        <div class="slides">
            <img src="{% static 'AMS/images/hospital_img.webp' %}" alt="Image-1">
            <img src="{% static 'AMS/images/hospital_img2.jpg' %}" alt="Image-2">
        </div>
        <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
        <button class="next" onclick="changeSlide(1)">&#10095;</button>
        <div class="indicator">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>

        <div class="main-body">    
            <div id="doctor-info-container" class="doctor-cards">
                {%for doctor in Doctors%}
            <div class="doctor-card"> 
                    <div>
                         <img class="doctor-img" src="media/{{doctor.user.image}}" alt="Doctor Picture">
                    </div>
                        <div class="doctor-info">
                            <table class="info-table">
                                <tbody><tr>
                                    <td>Name:</td>
                                    <td>{{doctor.user.first_name}} {{doctor.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{doctor.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Designation:</td>
                                    <td>{{doctor.designation}}</td>
                                </tr>
                            </tbody></table>
                            <div class="buttons">
                                <button class="book-btn" onclick="redirectToBooking()">Book Appointment</button>
                                <button class="cancel-btn" onclick="confirmCancel()">Cancel Appointment</button>     
                            </div>
                               
                        </div>   
                    </div>
                    {%endfor%}
                </div>
               
        <div class="second-div">
            <!-- Announcements Section -->
            <div class="announcements-slider">
                <div class="announcement-container">
                    <!-- Announcements -->
                     {% for announcement in Announcements%}
                    <div class="announcement-card" style="display: none;">
                        <h3>{{announcement.title}}</h3>
                        <p>{{announcement.description}}</p>
                    </div>
                    {%endfor%}
                </div>
                <button class="prev-announcement" onclick="changeAnnouncement(-1)">&#10094;</button>
                <button class="next-announcement" onclick="changeAnnouncement(1)">&#10095;</button>
            </div>

            <div class="prev-treatments">
                <h2>Previous Treatments</h2>
                <ul id="prevTreatmentsList">
                    <span>{{Treatment.appointment.date}} - {{Treatment.appointment.patient.user.first_name}} by  DR. {{Treatment.appointment.doctor.user.first_name}}</span>
                    <br><p>Result: {{Treatment.remarks}}</p>
                    <br>
                </ul>
                <a href="{%url 'treatments'%}" style="margin-left: 75px;font-weight: 1000;">Click here to see all treatments</a>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        <button id="btn-prev" onclick="prevPage()">Previous</button>
        <div id="page-numbers" class="page-numbers">
            <!-- Page number buttons will change auto in js file-->
        </div>
        <button id="btn-next" onclick="nextPage()">Next</button>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>Are you sure you want to cancel this appointment?</p>
            <button id="confirm-cancel-btn" class="confirm-btn" onclick="cancelAppointment()">Yes, Cancel Appointment</button>
        </div>
    </div>
    {% block extra_js %} <script src="{% static 'AMS/js/index_script.js' %}"></script>{% endblock %}
{% endblock %}
