* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Nav-Bar Style */
header {
    background: #3E4E56;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-profile, .navbar-logo {
    display: flex;
    align-items: center;
}

.profile-label {
    margin-right: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logo-text {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
}

footer {
    background-color: #3E4E56;
    color: #fff;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
}