.go-back {
    margin-right: 5px; 
    color: white;
    font-weight: bold;
    font-size: 16px; 
    text-decoration: none; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0px;
}

.container {
    max-width: 600px;
    margin-top: 10px;
    margin-left: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"], input[type="tel"],input[type="Number"],input[type="password"], input[type="file"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.gender-options {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

.help-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-align: right;
    text-decoration: none;
}

.help-link:hover {
    text-decoration: underline;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3E4E56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.notification-popup {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white; /* Success color */
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        max-width: calc(100% - 20px);
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .gender-options {
        flex-direction: column;
    }

    .gender-options label {
        margin-bottom: 10px;
    }

    .btn {
        font-size: 14px;
    }
}